<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="breadcrumb-item active">Vai trò</li>
        </ol>
        <!-- DataTables Example -->
        <div class="action-bar">
            <a href="/admin/permission/add_role" class="btn btn-primary btn-sm">Thêm</a>
            <a href="/admin/permission/delete_role" class="btn btn-danger btn-sm">Xóa</a>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onclick="checkAll(this)">
                                <th style="display: none;">abc</th>
                                <th>Tên </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td style="display: none;">{{this.name}}</td>
                                <td>{{this.name}}</td>
                                <td>
                                    <a href="/admin/permission/edit_role?id={{this.id}}" onclick="Edit('1');"
                                        class="btn btn-warning btn-sm">Sửa</a>
                                </td>
                                <td>
                                    <a href="/admin/permission/delete_role?id={{this.id}}" onclick="Delete('1');"
                                        class="btn btn-danger btn-sm">Xóa</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->